body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
}

.card {
    margin-top: 20px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.display-4 {
    font-weight: 700;
}